/* ==UserStyle==
@name						BGA game logs decluttered
@description		Removes friends’ status logs and all other non-essential messages from game logs. Optionally hides tutorial related info from logs in replays.
@version				0.3
@author					yzemaze
@namespace			github.com/yzemaze/
@homepageURL		https://github.com/yzemaze/bga-scripts/
@supportURL			https://github.com/yzemaze/bga-scripts/issues
@updateURL			https://github.com/yzemaze/bga-scripts/raw/main/game-logs-decluttered.user.styl
@license				GPLv3
@preprocessor		stylus

@var	checkbox	hideTutorial		"Hide tutorial info messages"	1
@var	checkbox	hideSpectators	"Hide spectators"							0
==/UserStyle== */

@-moz-document regexp("https://(\w*\.)?boardgamearena.com/.*\?table=.*"), regexp("https://(\w*\.)?boardgamearena.com/archive/replay/.*")
	#logs > .log:not(.log_replayable)
		display none !important
	if hideSpectators
		#spectatorbox_wrapper
			display none

@-moz-document regexp("https://(\w*\.)?boardgamearena.com/archive/replay/.*")
	if hideTutorial
		#right-side-second-part > :not(#logs_wrap)
			display none !important
