/* ==UserStyle==
@name						BGA Carcassonne mobile condensed playerboards
@description		Mobile version (max. 960px wide windows): Reduce playerboard to 50 % of its height, shrink & move tile in hand to reduce whitespace and enlarge playing area. Hide "you're a spectator"-message. Hide zoom icons if desired.
@version				0.1
@author					yzemaze
@namespace			github.com/yzemaze/
@homepageURL		https://github.com/yzemaze/bga-scripts/carcassonne
@supportURL			https://github.com/yzemaze/bga-scripts/issues
@updateURL			https://github.com/yzemaze/bga-scripts/raw/main/carcassonne/mobile-condensed-playerboards.user.styl
@license				GPLv3
@preprocessor		stylus

@var		checkbox		zoomIconHide		"Hide Zoom icons etc."		1
==/UserStyle== */

@-moz-document regexp("https://(\w*\.)?boardgamearena.com/.*/carcassonne.*"), regexp("https://(\w*\.)?boardgamearena.com/archive/replay/.*")
	.mobile_version .bgagame-carcassonne
		.player-board
			height 80px !important
			&.spectator-mode
				display none
		#handtile0
			display block !important
			top -82px
			left 210px
			&.handtile
				height 40px
				width 40px
		if zoomIconHide
			#current_player_board .icon_wrapper
				display none
